.trafficTop {
  background-color: black;
}

.traffic {
  background: black;
  margin: 240px;
  border-radius: 30px;
  height: 700px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.light {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.on {
  box-shadow: 0px 0px 86px 40px rgb(165, 155, 16);
}
